<div class="form bg-light p-5 rounded">
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input
      type="email"
      class="form-control shadow-sm"
      id="email"
      [(ngModel)]="user['email']"
    />
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input
      type="password"
      class="form-control shadow-sm"
      id="password"
      [(ngModel)]="user['password']"
    />
  </div>

  <div class="mb-3 form-check">
    <input
      type="checkbox"
      class="form-check-input shadow-sm"
      id="remember_me"
      [(ngModel)]="user['remember_me']"
    />
    <label class="form-check-label" for="remember_me">Remember Me</label>
  </div>

  <div class="d-flex align-items-center justify-content-between">
    <button (click)="loginFunc()" class="btn btn-primary">Login</button>
    <a class="nav-link" routerLink="/auth/register">Register</a>
  </div>
</div>
