<div class="form bg-light p-5 rounded">
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control shadow-sm"
        id="email"
        [(ngModel)]="user['email']"
      />
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control shadow-sm"
        id="password"
        [(ngModel)]="user['password']"
      />
    </div>

    <div class="mb-3">
      <label for="confirm_password" class="form-label">Confirm Password</label>
      <input
        type="password"
        class="form-control shadow-sm"
        id="confirm_password"
        [(ngModel)]="user['confirm_password']"
      />
    </div>

    <div class="d-flex align-items-center justify-content-between">
      <button (click)="registerFunc()" class="btn btn-primary">Register</button>
      <a class="nav-link" routerLink="/auth/login">Login</a>
    </div>
</div>
