<div class="container-fluid mt-3">
  @switch (this.mode){
    @case (Mode.LIST){
      <app-groupe-list (changeMode)="modeChange($event)"/>
    }
    @case (Mode.CREATION){
      <app-groupe-create (changeMode)="modeChange($event)" [group]="group!"/>
    }
    @case (Mode.DELETE_ALL){
      DELETE_ALL
    }
    @case (Mode.CONFIRMATION){
      <app-groupe-alert
        (changeMode)="modeChange($event)"
        [title]="title"
        [message]="message"
        [confirmText]="confirmText"
        [cancelText]="'Cancel'"
        [actionType]="action"
        [group]="group"/>
    }
    @default {
      wa3
    }
  }
</div>
