<div class="container-fluid mt-3">
  @if(mode == Mode.LIST) {
    <div class="d-flex justify-content-between align-items-center">
      <div class="left">
        <button class="btn btn-primary me-2 btn-sm"
                data-bs-toggle="offcanvas"
                data-bs-target="#filtrage"
                aria-controls="filtrage">
          <i class="fa-solid fa-filter"></i>
        </button>

        @if(filtersApply.length !== 0){
          @for(filter of filtersApply; track $index) {
            <button class="btn btn-primary btn-sm">
              @for(key of filter | objectKey; track $index) {
                {{ key }} - {{ filter[key] }}
              }
            </button>
          }
        }

        <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="filtrage" aria-labelledby="filtrageLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="filtrageLabel">Filtrage</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body position-relative">
            <div>
              <div class="mb-3">
                <label for="label" class="form-label">Search By Label</label>
                <input type="text"
                       class="form-control shadow-sm"
                       id="label"
                       placeholder="Search By Label" [(ngModel)]="filtersByLabel">
              </div>

              <div class="mb-3">
                <label for="status" class="form-label">Search By Status</label>
                <input type="text"
                       class="form-control shadow-sm"
                       id="status"
                       placeholder="Search By Status" [(ngModel)]="filtersByStatus">
              </div>

              <div class="mb-3 ms-3 position-absolute bottom-0 start-0">
                <div class="d-flex align-items-center justify-content-around">
                  <button class="btn btn-primary btn-sm" (click)="applyFilter()">Search</button>
                  <button class="btn btn-warning btn-sm ms-3" (click)="resetFilter()">Reset</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="right">
        @if(selectAll) {
          <button class="btn btn-danger me-2 btn-sm" (click)="deleteAll()">
            Delete All
          </button>
        }

        <button class="btn btn-success btn-sm"
                (click)="mode === Mode.LIST ? addMode() : resetMode()">{{ mode === Mode.LIST ? 'Create' : 'List' }}
        </button>
      </div>
    </div>

    <table class="table text-center">
      <thead>
      <tr>
        <th scope="col">
          <div class="form-check d-flex justify-content-center align-items-center">
            <input class="form-check-input shadow-sm"
                   [disabled]="groupService.groups().length === 0"
                   [(ngModel)]="selectAll"
                   (change)="toggleSelectAll()"
                   type="checkbox"
                   id="deleteAll">
          </div>
        </th>
        <th scope="col">Label</th>
        <th scope="col">Action</th>
      </tr>
      </thead>

      <tbody>
        @if(groupService.groups().length !== 0) {
          @for(group of groupService.groups(); track group.id) {
            <tr [class]="group.status === 0 ? 'no-active' : ''">
              <td>
                <div class="form-check d-flex justify-content-center align-items-center">
                  <input class="form-check-input shadow-sm"
                         type="checkbox"
                         [(ngModel)]="group.selected"
                         [disabled]="selectAll && !group.selected"
                         id="deleteChoose-{{group.id}}">
                </div>
              </td>
              <td>{{ group.label }}</td>
              <td>
                <button class="btn btn-outline-primary" (click)="editMode(group)">
                  <i class="fa-solid fa-edit"></i>
                </button>
                <button class="btn btn-outline-danger ms-3" (click)="deleteGroup(group.id)">
                  <i class="fa-solid fa-trash"></i>
                </button>
                <button class="btn btn-outline-info ms-3" (click)="toggleStatus(group.id, group.status)">
                  <i class="fa-solid fa-eye"></i>
                </button>
              </td>
            </tr>
          }
        } @else {
          <tr>
            <td colspan="4">No Group Found</td>
          </tr>
        }
      </tbody>
    </table>
  } @else if (mode == Mode.ADD) {
    <div style="display: block" class="modal fade show">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="addGroupLabel">Creation Group</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="resetMode()"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label for="add_label" class="form-label">Group Label</label>
              <input type="text"
                     class="form-control shadow-sm"
                     id="add_label"
                     placeholder="Label Group"
                     [(ngModel)]="group.label">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="resetMode()">Close</button>
            <button type="button" class="btn btn-primary" (click)="addGroup()">Create</button>
          </div>
        </div>
      </div>
    </div>
  } @else if (mode == Mode.EDIT) {
    <div style="display: block" class="modal fade show">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="editGroupLabel">Edit Group</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="resetMode()"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label for="edit_label" class="form-label">Group Label</label>
              <input type="text"
                     class="form-control shadow-sm"
                     id="edit_label"
                     placeholder="Label Group"
                     [(ngModel)]="group.label">
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-outline-danger ms-3" (click)="deleteGroup(group.id)">
              <i class="fa-solid fa-trash"></i>
            </button>
            <button type="button" class="btn btn-info" (click)="toggleStatus(group.id, group.status)">{{ group.status == 1 ? 'Desactive': 'Active' }}</button>
            <button type="button" class="btn btn-secondary" (click)="resetMode()">Close</button>
            <button type="button" class="btn btn-primary" (click)="editGroup()">Edit</button>
          </div>
        </div>
      </div>
    </div>
  } @else if (mode == Mode.DELETE) {
    <div style="display: block" class="modal fade show">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="deleteGroupLabel">Delete Group</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="resetMode()"></button>
          </div>
          <div class="modal-body">
            <h3 class="text-danger">Are You sure you want delete this group ?</h3>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="resetMode()">Close</button>
            <button type="button" class="btn btn-primary" (click)="confirmDelete(true)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  } @else if (mode == Mode.ALERT) {
    <div style="display: block" class="modal fade show">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="alertGroupLabel">Alert</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="resetMode()"></button>
          </div>
          <div class="modal-body">
            <h3 class="text-danger">you cant delete this group because is associer !</h3>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="resetMode()">Close</button>
          </div>
        </div>
      </div>
    </div>
  } @else if (mode == Mode.DELETE_ALL) {
    <div style="display: block" class="modal fade show">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="deleteAllGroupLabel">Delete All Groups</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="resetMode()"></button>
          </div>
          <div class="modal-body">
            <h3 class="text-danger">Are You sure you want delete all projects ?</h3>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="resetMode()">Close</button>
            <button type="button" class="btn btn-primary" (click)="confirmDeleteAll(true)">Delete All</button>
          </div>
        </div>
      </div>
    </div>
  }
</div>
