<div class="container-fluid mt-3">
  @switch (this.mode){
    @case (Mode.LIST){
      <app-tache-list (changeMode)="modeChange($event)"/>
    }
    @case (Mode.CREATION){
      <app-tache-create
        (changeMode)="modeChange($event)"
        [tache]="tache!" />
    }
    @case (Mode.CONFIRMATION){
      <app-tache-alert
        (changeMode)="modeChange($event)"
        [title]="title"
        [message]="message"
        [confirmText]="confirmText"
        [cancelText]="'Cancel'"
        [actionType]="action"
        [tache]="tache"/>
    }
    @default {
      Default
    }
  }
</div>
