<div class="container-fluid mt-3">
  @switch (this.mode){
    @case (Mode.LIST){
      <app-project-list (changeMode)="modeChange($event)"/>
    }
    @case (Mode.CREATION){
      <app-project-create (changeMode)="modeChange($event)" [project]="project!" />
    }
    @case (Mode.CONFIRMATION){
      <app-project-alert
        (changeMode)="modeChange($event)"
        [title]="title"
        [message]="message"
        [confirmText]="confirmText"
        [cancelText]="'Cancel'"
        [actionType]="action"
        [project]="project"/>
    }
    @default {
      Default
    }
  }
</div>
