<div style="display: block" class="modal fade show">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addGroupLabel">{{ !group ? "Creation Group" : "Edit Group" }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="resetMode()"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="add_label" class="form-label">Group Label</label>
          <input type="text"
                 class="form-control shadow-sm"
                 id="add_label"
                 placeholder="Label Group"
                 [(ngModel)]="newGroupe.label">
        </div>
      </div>
      <div class="modal-footer">
        @if(group){
          <button class="btn btn-outline-danger ms-3" (click)="deleteGroup(group)">
            <i class="fa-solid fa-trash"></i>
          </button>
          <button type="button" class="btn btn-info" (click)="toggleStatus(group)">{{ group.status == 1 ? 'Desactive': 'Active' }}</button>
        }

        <button type="button" class="btn btn-secondary" (click)="resetMode()">Close</button>
        <button type="button" class="btn btn-primary" (click)="addOrUpdateGroup()">{{ !group ? "Create" : "Edit" }}</button>
      </div>
    </div>
  </div>
</div>
